@mixin ratio23 {
    width: 900px;
    height: 600px;
}

@mixin flexV {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flexH {
    display: flex;
    justify-content: space-between;
}

@mixin bordBottom {
    border-bottom-color: black;
    border-bottom-style: solid;
}

@mixin bordRight {
    border-right-color: black;
    border-right-style: solid;
}