@import "./var.scss";
@import "./mixins.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin: 100px auto;
}

/*-----------First Section----------*/
.yellow-rows {
    @include ratio23;
    @include flexH;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 40px 20px 20px;
    background: rgb(171, 207, 231);
    .block {
        background: rgb(255, 213, 75);
        &1 {
            height: $row1Height;
            flex-grow: 1;
            flex-basis: 280px;
        }
        &2 {
            height: $row1Height;
            flex-grow: 4;
            flex-basis: 560px;
        }
        &3456 {
            height: $row2Height;
            flex-grow: 1;
            flex-basis: 130px;
        }
        &7 {
            height: $row2Height;
            flex-grow: 2;
            flex-basis: 260px;
        }
        &8 {
            height: $row3Height;
            flex-grow: 2;
            flex-basis: 220px;
        }
        &9 {
            height: $row3Height;
            flex-grow: 3;
            flex-basis: 340px;
        }
        &10 {
            height: $row3Height;
            flex-grow: 1;
            flex-basis: 160px;
        }
    }
}

/*-----------Second Section----------*/
.colorful-rows {
    height: 400px;
    width: 400px;
    padding: 40px;
    background: rgb(52, 52, 85);
    .box {
        height: 100%;
        width: 100%;
        background: rgb(30, 30, 48);
        padding: 40px 0;
        @include flexV;
    }
    .row {
        height: 40px;
        width: 100%;
        display: flex;
        &:last-child {
            background: tomato;
        }
        &1 {
            justify-content: flex-start;
        }
        &2 {
            justify-content: flex-end;
        }
        &3 {
            justify-content: center;
        }
        &4 {
            justify-content: space-between;
        }
        &5 {
            justify-content: space-around;
        }
    }
    .block {
        height: 100%;
        &1 {
            width: 60px;
            background: turquoise;
        }
        &2 {
            width: 50px;
            background: palegreen;
        }
        &3 {
            width: 120px;
            background: slateblue;
        }
    }
}

/*-----------Third Section----------*/
.layout {
    @include ratio23;
    @include flexV;
    & * {
        text-align: center;
    }
}

.headline {
    width: 100%;
    height: fit-content;
    padding: $padding30;
    background: khaki;
}

.main {
    @include flexH;
    height: 100%;
}

aside {
    background: yellow;
    padding: $padding30;
    flex-grow: 1;
}

.content {
    background: skyblue;
    flex-grow: 8;
    padding: $padding30;
}

footer {
    width: 100%;
    height: 140px;
    padding: $padding30;
    background: burlywood;
}

/*-----------Fourth Section----------*/
.green-blocks {
    @include ratio23;
    border: 5px dashed forestgreen;
    background: gainsboro;
    display: flex;
    flex-wrap: wrap;
    .box {
        flex-basis: calc(100% / 3);
        border-width: 5px;
        &1, &2, &4, &6 {
            background: limegreen;
        }
        &1, &2, &3 {
            @include bordBottom;
        }
        &2, &4, &5 {
            @include bordRight;
        }
        &2, &4, &6 {
            display: flex;
        }
        &1 {
            border-right-color: forestgreen;
            border-right-style: dashed;
        }
        &2 {
            justify-content: space-around;
            align-items: center;
        }
        &4, &6 {
            flex-direction: column;
            justify-content: flex-end;
        }
        .block {
            background: darkorange;
            width: 100%;
            height: 100%;
            &1 {
                width: 30%;
                height: 70%
            }
            &2 {
                height: 50%;
            }
            &3 {
                height: 70%;
                width: 50%;
            }
        }
    }
}