* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  margin: 100px auto;
}

/*-----------First Section----------*/
.yellow-rows {
  width: 900px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding: 40px 20px 20px;
  background: #abcfe7;
}
.yellow-rows .block {
  background: #ffd54b;
}
.yellow-rows .block1 {
  height: 25%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
}
.yellow-rows .block2 {
  height: 25%;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
}
.yellow-rows .block3456 {
  height: 15%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 130px;
      flex-basis: 130px;
}
.yellow-rows .block7 {
  height: 15%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
}
.yellow-rows .block8 {
  height: 45%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
}
.yellow-rows .block9 {
  height: 45%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-preferred-size: 340px;
      flex-basis: 340px;
}
.yellow-rows .block10 {
  height: 45%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
}

/*-----------Second Section----------*/
.colorful-rows {
  height: 400px;
  width: 400px;
  padding: 40px;
  background: #343455;
}
.colorful-rows .box {
  height: 100%;
  width: 100%;
  background: #1e1e30;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.colorful-rows .row {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.colorful-rows .row:last-child {
  background: tomato;
}
.colorful-rows .row1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.colorful-rows .row2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.colorful-rows .row3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.colorful-rows .row4 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.colorful-rows .row5 {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.colorful-rows .block {
  height: 100%;
}
.colorful-rows .block1 {
  width: 60px;
  background: turquoise;
}
.colorful-rows .block2 {
  width: 50px;
  background: palegreen;
}
.colorful-rows .block3 {
  width: 120px;
  background: slateblue;
}

/*-----------Third Section----------*/
.layout {
  width: 900px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.layout * {
  text-align: center;
}

.headline {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  background: khaki;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

aside {
  background: yellow;
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content {
  background: skyblue;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  padding: 30px;
}

footer {
  width: 100%;
  height: 140px;
  padding: 30px;
  background: burlywood;
}

/*-----------Fourth Section----------*/
.green-blocks {
  width: 900px;
  height: 600px;
  border: 5px dashed forestgreen;
  background: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.green-blocks .box {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  border-width: 5px;
}
.green-blocks .box1, .green-blocks .box2, .green-blocks .box4, .green-blocks .box6 {
  background: limegreen;
}
.green-blocks .box1, .green-blocks .box2, .green-blocks .box3 {
  border-bottom-color: black;
  border-bottom-style: solid;
}
.green-blocks .box2, .green-blocks .box4, .green-blocks .box5 {
  border-right-color: black;
  border-right-style: solid;
}
.green-blocks .box2, .green-blocks .box4, .green-blocks .box6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.green-blocks .box1 {
  border-right-color: forestgreen;
  border-right-style: dashed;
}
.green-blocks .box2 {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.green-blocks .box4, .green-blocks .box6 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.green-blocks .box .block {
  background: darkorange;
  width: 100%;
  height: 100%;
}
.green-blocks .box .block1 {
  width: 30%;
  height: 70%;
}
.green-blocks .box .block2 {
  height: 50%;
}
.green-blocks .box .block3 {
  height: 70%;
  width: 50%;
}/*# sourceMappingURL=styles.css.map */